$primary: #3292a6;
$primary-overlay: rgba(50, 146, 156, 0.7);
body {
    margin-top: 90px;
}
html {
    scroll-behavior: smooth;
}
.navbar {
    box-shadow: 2px 2px 5px $primary;
    background: #fff;
    opacity: 0.9;
    .nav-item {
        font-size: 1.4rem;
        padding-right: 20px;
        .nav-link {
            color: #252525;
        }
        .nav-link:hover {
            color: $primary;
        }
    }
    .nav-item:last-child {
        padding-right: 0;
    }
}

#showcase {
    position: relative;
    background: url("../img/mountain.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 635px;
    .primary-overlay {
        background: $primary-overlay;
        min-height: 635px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    img {
        width: 70%;
        opacity: 0.8;
    }
}
#authors{
    img{
        margin-top: -80px;
        transition: .4s;
    }
    .fab{
        font-size: 30px;
        padding: 24px 0;
    }
    img:hover{
        transform: scale(1.12);
    }
    .card:hover{
        background-color: $primary;
        color: #fff;
        .fab{
            color: #fff;
        }
    }
}
@media (max-width: 1200px) {
    #showcase {
        h1 {
            font-size: 4rem;
        }
    }
}
